@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {

    --bg: #1F1F1F;
    --txtbox_bg: #777777;
    --txtbox_border: #4E4E4E;
    --main: #FF7F11;
    --main_dark: #C76715;
    --main_darkest: #8F4F18;
    --accent: #A362DC;
    --accent_dark: #8252AD;
    --accent_darkest: #61417E;
    --scrollbar_thumb: #5C5C5C;
    --scrollbar_thumb_active: #696969;
    --theme_dropdown_bg: #000000;
    --msc: #ffffff;

}


::-webkit-scrollbar {

    width: 0.85em;

}

::-webkit-scrollbar-track {

    background-color: var(--bg);
    border-radius: 100vw;
    margin-block: 0.2em;

}

::-webkit-scrollbar-thumb {

    background-color: var(--scrollbar_thumb);
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb:active {

    background-color: var(--scrollbar_thumb_active);

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    transition: all 750ms ease 0s;

}

body {

    background-color: var(--bg);

}

.container {

    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 17.5%;
    color: var(--main);

}

.logo {

    width: 40%;
    max-width: 200px;

}

nav {

    width: 100%;

}

nav ul {

    text-align: right;

}

nav li{

    display: inline-block;

}

nav li div .theme_button_o, nav li div .log_in_button_o {

    text-decoration: none;
    color: var(--main);
    transition: all 200ms ease 0s;
    background-color: var(--bg);
    margin-right: calc(-5vw);

}

.container, .dropdown, .log_in {

    font-size: 0;

}

.theme_button_p, .log_in_button_p {

    position: relative;
    right: calc(min(11.5vw, 125px) - 5vw);
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease 0s;

}

.themes_o, .log_in_o, .themes_p, .log_in_p {

    width: calc(11.5vw);
    max-width: 125px;
    transition: opacity 200ms ease 0s;

}

.theme_button_o:hover + .theme_button_p, .log_in_button_o:hover + .log_in_button_p {

    opacity: 1;

}

.textbox {

    background-color: var(--txtbox_bg);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    resize: none;
    padding: 2% 2%;
    margin: 0px 17.5%;
    width: calc(100% - 35%);
    height: calc(75vh);
    border-width: 8px;
    border-radius: 4px;
    border-color: var(--txtbox_border);
    outline: none;

}

.footer_icons {

    margin: 1% 17.5%;
    font-size: 25px;

}

.footer_icons a, a:visited {

    color: var(--main);
    transition: all 200ms ease 0ms;

}

.footer_icons a:hover {

    color: var(--accent);

}

.footer_icons a:active {

    color: var(--accent_darkest);

}

.dropdown {

    position: relative;

}

.dropdown_block {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: calc(11.5vw);
    max-width: 125px;
    height: 175px;
    background-color: var(--theme_dropdown_bg);
    margin-top: 10px;
    /*border-radius: 10px;*/
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    overflow:hidden;
    clip-path: polygon(0 0, 85% 0, 100% 20px, 100% 100%, 100% 100%, 15% 100%, 0 155px, 0 0);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

}

.open-dropdown-block {

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.theme_container {

    width: calc(100% - 20px);
    margin-left: 10px;
    height: calc(100% - 40px);
    margin-top: 5px;
    background-color: var(--theme_dropdown_bg);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0px;

}

.close_btn_theme_dropdown {

    position: absolute;
    top: 0;
    cursor: pointer;
    width: 100%;
    background-color: var(--accent);
    color: white;
    text-align: center;
    vertical-align: center;
    /*border-radius: 10px;*/
    height: 20px;
    cursor: pointer;
    transition: all 200ms ease-in-out;

}

.x {

    width: 20px;
    line-height: 20px;
    font-size: 25px;
    transform: rotate(90deg);

}

.close_btn_theme_dropdown:hover {

    background-color: var(--accent_dark);

}

.close_btn_theme_dropdown:active {

    background-color: var(--accent_darkest);

}

.theme_container div{

    width: 100%;
    background-color: #ffffff;
    border-radius: 12.5px;
    height: 25px;
    cursor: pointer;
    border:0px solid #4cc75e;
    transition: border 300ms ease-in-out;

}

.theme_1:hover, .theme_3:hover, .theme_2:hover {

    border-width: 3px;

}

.bg_blur {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;

}

.log_in_block {

    position: fixed;
    z-index: 2;
    opacity: 0;
    top: calc(50vh - 165px);
    left: calc(50vw - 210px);
    width: 420px;
    height: 330px;
    border-radius: 10px;
    background-color: var(--bg);
    pointer-events: none;
    transition: opacity 200ms ease-in-out;
    text-align: left;

}

.close_btn {

    position: absolute;
    z-index: 1;
    padding: 0;
    margin: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--msc);
    transition: all 200ms ease 0s;

}

.close_btn:hover {

    background-color: var(--main);

}

.close_btn:active {

    background-color: var(--main_darkest);

}

.log_in_block button:hover {

    background-color: var(--main_dark);

}

.log_in_block button:active {

    background-color: var(--main_darkest);

}

.log_in_block {

    overflow: hidden;

}

.form1, .form2, .form3 {

    position: absolute;
    width: 370px;
    transition: all 200ms ease-in-out;
    
}

.form1 {

    height: 280px;
    top: 25px;
    left: 25px;

}

.form2 {

    height: 250px;
    top: 40px;
    left: -395px;

}

.form3 {

    height: 210px;
    top: 60px;
    left: 445px;

}

.slide-s-u-right {

    transform: translateX(420px);

}

.slide-l-i-right {

    transform: translateX(420px);

}

.slide-f-p-left {

    transform: translateX(-420px);

}

.slide-l-i-left {

    transform: translateX(-420px);

}

.form1 h2 , .form2 h2, .form3 h2  {

    text-align: center;
    font-size: 30px;
    font-weight: 300;

}

.form1 div, .form2 div, .form3 div {

    margin: 10px 10px;
    font-size: 15px;

}

.form1 input, .form2 input, .form3 input{

    margin-top: 10px;
    display: block;
    width: 100%;
    height:35px;
    border-radius: 5px;
    background-color: var(--txtbox_bg);
    font-size: 17px;
    padding: 0px 10px;
    border: 2px solid var(--txtbox_border);
    outline: none;

}

.forg_pwd a {

    position: relative;
    font-size: 12px;
    margin-top: 10px;
    float: right;
    margin-right: 0px;

}

.forg_pwd a:hover, .sign_up_a a:hover, .back_to_log_in:hover {

    color: var(--main_dark);

}

.forg_pwd a:active, .sign_up_a a:active, .back_to_log_in:active {

    color: var(--main_darkest);

}

.form1 button, .form2 button, .form3 button {

    width: 70px;
    height: 35px;
    background-color: var(--main);
    color: var(--msc);
    font-size: 12px;
    cursor: pointer;
    border-width: 0px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 200ms ease 0s;

}

.sign_up_a {

    padding-top: 10px;

}

.sign_up_a h3, .sign_up_a a, .form2 div h3 a, .form3 div h3 a{

    font-size: 12px;

}

.form2 div h3 a {

    position: relative;
    margin-top: 10px;
    float: right;
    margin-right: 0px;

}

.form3 div h3 a {

    position: relative;
    margin-top: 10px;
    margin-right: 0px;

}

.sign_up_a h3 {

    color: var(--txtbox_bg);

}

.form1 input, .form2 input, .form3 input {

    caret-color: var(--bg);

}

.open-bg-blur {

    opacity: 0.5;
    pointer-events: auto;

}

.open-login-block {

    opacity: 1;
    pointer-events: auto;

}