/*Master*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {

    --width: 130px;

}

::-webkit-scrollbar {

    width: 0.85em;

}

::-webkit-scrollbar-track {

    background-color: #1f1f1f;
    border-radius: 100vw;
    margin-block: 0.2em;

}

::-webkit-scrollbar-thumb {

    background-color: #7c7772;
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb:active {

    background-color: #6d6965;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

body {

    background-color: #1f1f1f;

}

.container {

    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 17.5%;
    color: #FF7F11;

}

nav li{

    list-style: none;
    display: inline-block;
    margin-left: 83px;
    margin-right: 20px;

}

nav a{

    text-decoration: none;
    font-size: 25px;
    color: #FF7F11;
    transition: all 200ms ease 0s;
    background-color: #1f1f1f;

}

nav a:hover{

    color: #aa44aa;

}

.textbox {

    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    resize: none;
    padding: 2% 2%;
    margin: 0px 17.5%;
    width: calc(100% - 35%);
    height: calc(75vh);
    border-width: 8px;
    border-radius: 4px;
    border-color: #FF7F11;
    outline: none;

}

.footer_icons {

    margin: 1% 17.5%;
    font-size: 25px;

}

.footer_icons a, a:visited {

    color: #FF7F11;
    transition: all 0.3s ease 0s;

}

.footer_icons a:hover {

    color: #aa44aa;

}

.dropdown {

    position: relative;

}

.dropdown_items {

    position: absolute;
    width: var(--width);
    height: 125px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

}

.dropdown > .themes_a:focus + .dropdown_items {

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.dropdown_items ul, .dropdown_items li, .dropdown_items a{

    background-color: black;

}

.dropdown_items li {
    
    padding: 0;
    margin: 12px 0 0 0;

}

.dropdown_items a {

    white-space: nowrap;
    font-size: 15px;

}

.dropdown_items ul {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

}