/*Master*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {

    --width: 130px;

}

::-webkit-scrollbar {

    width: 0.85em;

}

::-webkit-scrollbar-track {

    background-color: #1f1f1f;
    border-radius: 100vw;
    margin-block: 0.2em;

}

::-webkit-scrollbar-thumb {

    background-color: #7c7772;
    border-radius: 100vw;

}

::-webkit-scrollbar-thumb:active {

    background-color: #6d6965;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}

body {

    background-color: #1f1f1f;

}

.container {

    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 17.5%;
    color: #FF7F11;

}

nav li{

    list-style: none;
    display: inline-block;
    margin-left: 83px;
    margin-right: 20px;

}

nav a{

    text-decoration: none;
    font-size: 25px;
    color: #FF7F11;
    transition: all 200ms ease 0s;
    background-color: #1f1f1f;

}

nav a:hover{

    color: #aa44aa;

}

.textbox {

    background-color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    resize: none;
    padding: 2% 2%;
    margin: 0px 17.5%;
    width: calc(100% - 35%);
    height: calc(75vh);
    border-width: 8px;
    border-radius: 4px;
    border-color: #4e4e4e;
    outline: none;

}

.footer_icons {

    margin: 1% 17.5%;
    font-size: 25px;

}

.footer_icons a, a:visited {

    color: #FF7F11;
    transition: all 0.3s ease 0s;

}

.footer_icons a:hover {

    color: #aa44aa;

}

.dropdown {

    position: relative;

}

.dropdown_items {

    position: absolute;
    width: var(--width);
    height: 125px;
    background-color: black;
    padding: 10px 10px;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;

}

.dropdown > .themes_a:focus + .dropdown_items {

    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.dropdown_items ul, .dropdown_items li, .dropdown_items a{

    background-color: black;

}

.dropdown_items li {
    
    padding: 0;
    margin: 12px 0 0 0;

}

.dropdown_items a {

    white-space: nowrap;
    font-size: 15px;

}

.dropdown_items ul {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;

}

.bg_blur {

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;

}

.log_in_a:focus + .bg_blur {

    opacity: 0.5;
    pointer-events: auto;

}

.log_in_block {

    position: fixed;
    z-index: 2;
    opacity: 0;
    top: calc(50vh - 162.5px);
    left: calc(50vw - 210px);
    width: 420px;
    height: 325px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: #1f1f1f;
    pointer-events: none;
    transition: opacity 200ms ease-in-out;

}

.log_in_a:focus ~ .log_in_block{

    opacity: 1;
    pointer-events: auto;

}

.close_btn {

    position: absolute;
    padding: 0;
    margin: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 5px;
    background-color: #FF7F11;
    color: #ffffff;
    transition: all 200ms ease 0s;

}

.close_btn:hover, .log_in_form button:hover {

    background-color: #ff8011ac;

}

.close_btn:active, .log_in_form button:active {

    background-color: #ff801166;

}

.log_in_block h2 {

    text-align: center;
    font-size: 30px;

}

.log_in_form {

    margin-top: 10px;

}

.log_in_form div {

    margin: 10px 10px;
    font-size: 15px;

}

.log_in_form input{

    margin-top: 10px;
    display: block;
    width: 100%;
    height:35px;
    border-radius: 5px;
    background-color: #7c7772;
    font-size: 17px;
    padding: 0px 10px;

}

.forg_pwd a {

    position: absolute;
    right: 40px;
    font-size: 10px;
    margin-top: 10px;

}

.forg_pwd a:hover, .sign_up_a a:hover {

    color: #ff8011ac;

}

.forg_pwd a:active, .sign_up_a a:active {

    color: #ff801166;

}

.log_in_form button {

    width: 70px;
    height: 35px;
    background-color: #FF7F11;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    border-width: 0px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 200ms ease 0s;

}

.sign_up_a {

    padding-top: 10px;

}

.sign_up_a h3, .sign_up_a a {

    font-size: 10px;

}

.sign_up_a h3 {

    color: #7c7772;

}